schema/recommendation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="clusters">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="thresholds">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="price">
                                <xs:complexType>
                                    <xs:attribute name="q33" type="xs:double" use="required"/>
                                    <xs:attribute name="q66" type="xs:double" use="required"/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="sunshine">
                                <xs:complexType>
                                    <xs:attribute name="q33" type="xs:double" use="required"/>
                                    <xs:attribute name="q66" type="xs:double" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="sample" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sunshine" type="xs:double"/>
                            <xs:element name="price" type="xs:double"/>
                        </xs:sequence>

                        <xs:attribute name="datetime" type="xs:dateTime" use="required"/>
                        <xs:attribute name="cluster" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                        <xs:attribute name="recommendation" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="SELL"/>
                                    <xs:enumeration value="HOLD"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
